<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

 <div class="container emp-profile">
             <form method="post">
                 <div class="row">
                     <div class="col-md-4">
                         <div class="profile-img">

                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="profile-head">
                                     <h5>
                                         Total
                                     </h5>
                                     <h6>

                                     </h6>

                             <ul class="nav nav-tabs" id="myTab" role="tablist">
                                 <li class="nav-item">
                                     <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                 </li>

                             </ul>
                         </div>
                     </div>

                 </div>
                 <div class="row">

                     <div class="col-md-8">
                         <div class="tab-content profile-tab" id="myTabContent">
                             <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 1.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t1 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 2.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t2 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 3.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t3 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 4.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t4 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 5.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t5 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 6.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t6 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 7.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t7 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 8.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t8 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 9.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t9 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 10.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t10 %></p>
                                             </div>
                                         </div>

                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 11.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t11 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 12.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t12 %></p>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <label> 13.</label>
                                             </div>
                                             <div class="col-md-6">
                                                 <p> <%= t13 %></p>
                                             </div>
                                         </div>
                                      

                                 <div class="row">
                                     <div class="col-md-12">
                                         <label>Your Bio</label><br/>
                                         <p>Your detail description</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </form>
         </div>
  </body>
</html>
